@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

.profile-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0rem auto;
    padding: 0 2rem;
}

.user-details, .user-bookings {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 10px;
    flex-basis: 48%;
    margin-top: 50px;

}

.user-details h2, .user-bookings h2 {
    font-family: 'Orbitron', sans-serif;
    color: #e94560;
    margin-bottom: 1rem;
}

.user-info p {
    margin-bottom: 0.5rem;
}

.user-info strong {
    color: #e94560;
}

#updateProfileBtn {
    margin-top: 1rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background: linear-gradient(135deg, #1a1a2e, #16213e);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #e94560;
    text-decoration: none;
    cursor: pointer;
}

#updateProfileForm {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #e94560;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
    }

    .user-details, .user-bookings {
        margin-bottom: 2rem;
    }
}

.form-group select {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.form-group select option {
    background-color: #16213e;
    color: #ffffff;
}

.form-group select option:checked {
    color: #000000;
    background-color: #ffffff;
}
